DATABASE_URL="postgresql://username:password@host:port/db_name?schema=public&channel_binding=disable" # Prisma ORM Database access URI
PORT=3000 # Backend Port
HOST="localhost" # Default Host for Ingress
BACKEND="localhost:3000" # Backend Host for KRENEAR_KEY.json
VITE_API_URL="http://localhost:3000/" # Frontend API URL
REGISTRY="localhost:30764" # Registry Host for Deployment
K3S_NAMESPACE="krenear" # k3s Namespace for Pods
ISSUER_NAME="letsencrypt" # cert-manager.io/cluster-issuer Annotation value for Ingress
HTTPS=false # Automatic rewrites
